<br><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="footer-distributed">

            <div class="footer-left">

                <!-- <h3>Company<span>logo</span></h3> -->
                <a class="navbar-brand" href="#">
                    <i class="bi bi-bus-front" style="font-size: 20px; color: #fff;"></i>
                    <a class="navbar-brand" href="#" style="font-size: 20px; color:#fff;">      SAFE AND ECONOMICAL  </a>
                            </a>
                <p class="footer-links">
                    <a href="">Home</a>
                    ·
                    <a class="nav-link" routerLink="aboutus">About us</a>
                    ·
                    
                    <a href="services">services</a>
                    ·
                
                    <a href="contactus">Contact us</a>
                    .
                    <a href="login">login</a>
                   
                </p>

                <p class="footer-company-name">Company Name © 2015</p>

                <div class="footer-icons">

                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>

                </div>

            </div>

            

        </footer>
  